* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  width: calc(100% - 2rem);
  max-width: 1200px;
  margin-inline: auto;
}